<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364236086160-8n5c7ru9hmf2fkrv60rumc3ang70siav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364236086160-8n5c7ru9hmf2fkrv60rumc3ang70siav</string>
	<key>API_KEY</key>
	<string>AIzaSyBXKkCqGaCI2KCMxcljoXx4d1Z0X3D_OgY</string>
	<key>GCM_SENDER_ID</key>
	<string>364236086160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.obozdlaklimatu.odkApp</string>
	<key>PROJECT_ID</key>
	<string>climate-camp-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>climate-camp-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364236086160:ios:b7646017d2ac6e40</string>
	<key>DATABASE_URL</key>
	<string>https://climate-camp-2019.firebaseio.com</string>
</dict>
</plist>